<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/pure.min.css">
    <link rel="stylesheet" href="css/grids-responsive-min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rosario:100,200,300,400,500,600,700,800,900">
    <title>Express.js Note Taker</title>
  </head>
  <body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/"><i class="fa-regular fa-note-sticky"></i>&nbsp;&nbsp;&nbsp;Express.js Note Taker</a>
            <ul class="pure-menu-list" id="save-btn" style="display:none">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link"><i class="fa-regular fa-floppy-disk"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1>Saved Notes</h1>
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Note Title 1</td>
                            <td>
                                <a href="javascript:void(0)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Note Title 2</td>
                            <td>
                                <a href="javascript:void(0)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Note Title 3</td>
                            <td>
                                <a href="javascript:void(0)">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="notes">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>
                            <label for="title">Enter Note Title</label>
                            <input type="text" id="title" class="content-subhead" placeholder="Enter Note Title" style="width:100%" required />
                        </fieldset>
                    </form>
                    <section class="note" style="margin-bottom:5em">
                        <header class="note-header">
                            <h2 id="note-title"></h2>
                        </header>
                        <div class="note-description">
                            <textarea class="pure-input-1-2" id="note-content" placeholder="Note details go here." required></textarea>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pure-menu pure-menu-horizontal">
                <ul>
                    <li class="pure-menu-item"><p>&copy; 2023 <a href="https://erin-m-keller.github.io/keller-portfolio/" target="_blank" rel="noreferrer">Erin Keller</a></p></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/fontawesome.min.js"></script>
    <script src="js/scripts.js"></script>
    </body>
    </html>