<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/pure.min.css">
    <link rel="stylesheet" href="css/grids-responsive-min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rosario:100,200,300,400,500,600,700,800,900">
    <title>Note Tracker</title>
  </head>
  <body>
    <div class="modal" id="confirm-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box" id="modal-content"></div>
      </div>
      <button class="modal-close is-large" aria-label="close" onclick="closeConfirmModal()"></button>
    </div>
    <header class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/"><i class="fa-regular fa-note-sticky"></i>&nbsp;&nbsp;&nbsp;Note Tracker</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="javascript:void(0)" class="pure-menu-link" id="new-note-btn"><i class="fa-regular fa-pen-to-square"></i></a></li>
                <li class="pure-menu-item pure-menu-selected" id="save-btn-wrapper" style="display:none"><a href="javascript:void(0)" class="pure-menu-link" id="save-btn"><i class="fa-regular fa-floppy-disk"></i></a></li>
            </ul>
        </div>
    </header>
    <section id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1>Saved Notes</h1>
                <table class="pure-table pure-table-striped pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="notes-tbl">
                        <tr>
                            <td colspan="3">Create a new note to see it saved here!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="notes">
                    <form class="pure-form pure-form-stacked">
                        <fieldset>
                            <label for="title">Enter Note Title</label>
                            <input type="text" id="title" class="content-subhead" placeholder="Enter Note Title" style="width:100%" required />
                        </fieldset>
                        <fieldset class="note-description note">
                            <textarea id="note-content" placeholder="Note details go here." required></textarea>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="pure-menu pure-menu-horizontal">
            <ul>
                <li class="pure-menu-item"><p>&copy; 2023 <a href="https://erin-m-keller.github.io/keller-portfolio/" target="_blank" rel="noreferrer">Erin Keller</a></p></li>
            </ul>
        </div>
    </footer>
    <script src="js/fontawesome.min.js"></script>
    <script src="js/scripts.js"></script>
    </body>
    </html>