<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/pure.min.css">
    <link rel="stylesheet" href="css/grids-responsive-min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rosario:100,200,300,400,500,600,700,800,900">
    <title>Express.js Note Taker</title>
  </head>
  <body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href=""><i class="fa-regular fa-note-sticky"></i>&nbsp;&nbsp;&nbsp;Express.js Note Taker</a>
        </div>
    </div>
    
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Note Creation Here</h1>
            <p class="splash-subhead">
                // TODO: Create add note functionality
            </p>
        </div>
    </div>
    <script src="js/fontawesome.min.js"></script>
    </body>
    </html>