/************************************************
*
*   Main Stylesheet
*   @version (1.0)
*   @date (2023)
*
*   1.) GENERAL ______________________ @general
*   2.) LAYOUT _______________________ @layout
*   3.) NAVIGATION ___________________ @navigation
*   4.) SPLASH _______________________ @splash
*   5.) CONTENT ______________________ @content
*   6.) MEDIA QUERIES ________________ @media
*
************************************************/
  
/************************************************
   GENERAL                              @general

   The base styles for the page, text
   and links. Includes utility class styles
************************************************/
:root {
    --font-main-style: "Rosario", sans-serif;
    --color-one: #191919;
    --btn-color: #e6f14a;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--font-main-style);
}
html,
body {
    height: 100%;
    background: #2c3e50;
    background: -webkit-linear-gradient(to right, #185D8C, #2c3e50);
    background: linear-gradient(to right, #185D8C, #2c3e50);
}
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #191919;
    word-wrap: break-word;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}
a.pure-button-primary {
    background: var(--btn-color);
    color: #000;
    border-radius: 5px;
    font-size: 120%;
}
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}
.header {
    margin-top: 3em;
}
.pure-g {
    height: 100%;
}
.pure-table {
    width: 100%;
}
.button-warning {
    background: var(--btn-color);
    color: #000;
}
.button-error {
    background: #191919;
}
#modal-content button {
    margin: 1em 1em 1em 0;
}
@keyframes textColorAnimation {
    0%   { color: #E6F14A; }
    25%  { color: #E2A0FF; }
    50%  { color: #FFC1CF; }
    75%  { color: #E5625E; }
    100% { color: #E6F14A; }
}


/************************************************
   LAYOUT                                 @layout

   The base styles for the layout
************************************************/
.l-box {
    padding: 1em;
}
.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.is-center {
    text-align: center;
}

/************************************************
   NAVIGATION                         @navigation

   The base styles for the navigation
************************************************/
.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background-color: var(--color-one);
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}
.home-menu .pure-menu-selected a {
    color: white;
}
.home-menu .pure-menu-selected>.pure-menu-link, 
.home-menu .pure-menu-selected>.pure-menu-link:visited {
    color: white;
}
.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
#new-note-btn,
#save-btn {
    fill: #fff;
    -webkit-animation: textColorAnimation 10000ms infinite;
    -moz-animation: textColorAnimation 10000ms infinite;
    -o-animation: textColorAnimation 10000ms infinite;
    animation: textColorAnimation 10000ms infinite;
}

/************************************************
   SPLASH                                 @splash

   The base styles for the splash content
************************************************/
.splash-container {
    background: #2c3e50; 
    background: -webkit-linear-gradient(to right, #185D8C, #2c3e50); 
    background: linear-gradient(to right, #185D8C, #2c3e50);
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed !important;
}
.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    border: 3px solid #FFF;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}
.splash-subhead {
    color: #FFF;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/************************************************
   CONTENT                               @content

   The base styles for the main content
************************************************/
.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}
.content {
    padding: 2em 4em;
    height: 100%;
}
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}
.content-head-ribbon {
    color: white;
}
.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}
.post .post-description .pure-input-1-2 {
    width: 100%;
    height: 50vh;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding: 1em;
}
.sidebar {
    padding: 1em;
    background-color: #2d2d2d;
    box-shadow: inset -20px 0 25px 15px rgba(0,0,0,0.4);
}
@media screen and (min-width:768px) {
    .sidebar {
        height: 100%;
    }
}
.pure-table tr th {
    background-color: #F4F4F4;
}
.pure-table tr td {
    background-color: #FFF;
}
.notes label,
.notes .post-title {
    color: #FFF;
}
.header h1 {
    color: #FFF;
}
.ribbon {
    background: #2d3e50;
    color: #aaa;
}
.note-description textarea {
    width: 100%;
    height: 52vh;
    padding: 1em;
}
.clickable-row:hover {
    cursor: pointer;
}
.pure-menu-link i {
    font-size: 2em;
}
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
}

.footer a {
    color: #FFF;
}

/************************************************
   MEDIA QUERIES                           @media

   The media queries for the application
************************************************/
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }
    .splash {
        width: 50%;
        height: 50%;
    }
    .splash-head {
        font-size: 250%;
    }
    .l-box-lrg {
        border: none;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}